<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TEST.Actitime_LoginLogout"/>
      <class name="TEST.Actitime_LoginCreateProjectDeleteLogout"/>
      <class name="TEST.Actitime_LoginCreateTypesOfWorkDeleteLogout"/>
      <class name="TEST.Actitime_LoginCustomerDeleteLogout"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
